<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                    href="/statistical?format=0&timeStamp={{timeStamp}}">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <img src="/public/img/bee.png" alt="">
                    </div>
                    <div class="sidebar-brand-text mx-3"><span>POLY DATING</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/statistical?format=0&timeStamp={{timeStamp}}"><i
                                class="fas fa-tachometer-alt"></i><span>Thống kê</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/users"><i class="fas fa-user"></i><span>Người
                                dùng</span></a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reports">
                            <i class="fas fa-flag"></i>
                            <span>Báo cáo</span>
                            {{#if (gt reportsWait 0)}}
                            <span class="text-warning"> {{reportsWait}} lượt</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href="/notifications"><i
                                class="fas fa-bell"></i><span>Thông báo</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout"><i
                                class="fas fa-sign-out-alt"></i><span>Đăng
                                xuất</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <div class="d-sm-inline-block me-auto md-3 my-2 my-md-0 mw-100 navbar-search">
                            <h4 class="text-dark mb-0">Thông báo</h4>
                        </div>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" href="/users/{{currentUserWeb.email}}">
                                        <span class="d-none d-lg-inline me-2 text-gray-600 small">
                                            {{currentUserWeb.name}}
                                        </span>
                                        {{#each currentUserWeb.images}}
                                        <img class="border rounded-circle img-profile" src="{{this}}">
                                        {{/each}}
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="container-fluid">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <div class="row">
                                <p class="text-primary m-0 fw-bold col-md-6">Lịch sử thông báo</p>
                                <a href="#" class="text-danger m-0 fw-bold col-md-6 text-end" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" style="text-decoration: none;">Gửi thông báo</a>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static"
                                    data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-danger">Gửi thông báo tới tất cả người dùng
                                                </h5>
                                            </div>
                                            <!-- form -->
                                            <form action="/notifications/insert" method="post" id="form-block3">
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label class="form-label">Tiêu đề</label>
                                                        <input type="text" name="title" class="form-control" required>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label class="form-label">Link</label>
                                                        <input type="text" name="link" class="form-control">
                                                    </div>

                                                    <div>
                                                        <label class="form-label">Nội dung</label>
                                                        <textarea class="form-control" name="content" required
                                                            style="resize: none;" rows="4"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Gửi</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Hủy</button>
                                                </div>
                                            </form>
                                            <!-- end form -->
                                        </div>
                                    </div>
                                </div>
                                <!-- -------------------- -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-auto">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">
                                            <input type="search" class="form-control form-control-sm" id="btnSearch"
                                                aria-controls="dataTable" placeholder="Tìm kiếm..." value="{{search}}">
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-auto">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">
                                            <form action="/notifications" method="get" id="id-form7">
                                                <input type="hidden" id="searchIp" name="search">

                                                <input type="submit" class="form-control form-control-sm btn-primary"
                                                    onclick="checkSubmit()" aria-controls="dataTable" value="Tìm kiếm">
                                            </form>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- ----------------------------------- -->
                            <div class="table-responsive mt-2" id="dataTable" role="grid"
                                aria-describedby="dataTable_info">
                                <table class="table table-hover my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th nowrap>STT</th>
                                            <th nowrap>Tiêu đề</th>
                                            <th nowrap>Nội dung</th>
                                            <th nowrap>Link</th>
                                            <th nowrap>Người gửi</th>
                                            <th nowrap>Người nhận</th>
                                            <th nowrap>Thời gian gửi</th>
                                            <th nowrap>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each notifications}}
                                        <tr>
                                            <td>{{this.index}}</td>
                                            <td style="max-width: 500px;">{{this.title}}</td>
                                            <td style="max-width: 500px;">{{this.content}}</td>
                                            <td class="text-nowrap">
                                                {{#if (ne this.link "")}}
                                                <a style="text-decoration: none;" class="text-primary"
                                                    href="{{this.link}}">Xem liên kết</a>
                                                {{/if}}
                                            </td>
                                            <td>
                                                <a style="text-decoration: none;" class="text-info"
                                                    href="/users/{{this.emailSender}}">{{this.emailSender}}</a>
                                            </td>
                                            <td>
                                                <a style="text-decoration: none;" class="text-info"
                                                    href="/users/{{this.emailReceiver}}">{{this.emailReceiver}}</a>
                                            </td>
                                            <td class="text-nowrap">{{#newDate this.createdAt}}{{/newDate}}</td>
                                            <td>
                                                <form action="/notifications/delete" method="post"
                                                    class="text-end col-md-6" style="display: flex">

                                                    <input type="hidden" value="{{this._id}}" name="_id">

                                                    <button class="btn btn-danger" type="submit">
                                                        <i class="fas fa-times"></i></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                    {{#if (gt countNotifications 0)}}
                                    <thead>
                                        <tr>
                                            <th nowrap>STT</th>
                                            <th nowrap>Tiêu đề</th>
                                            <th nowrap>Nội dung</th>
                                            <th nowrap>Link</th>
                                            <th nowrap>Người gửi</th>
                                            <th nowrap>Người nhận</th>
                                            <th nowrap>Thời gian gửi</th>
                                            <th nowrap>Hành động</th>
                                        </tr>
                                    </thead>
                                    {{/if}}
                                </table>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-6 align-self-center mt-2">
                                    <p id="dataTable_info" class="dataTables_info " role="status" aria-live="polite">
                                        Hiển thị {{countFrom}} đến {{countTo}} trong tổng {{countNotifications}}</p>
                                </div>
                                <div class="col-md-6">
                                    <nav
                                        class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">

                                            {{!-- Nếu page < 2 thì ẩn nút pre --}} {{#if ( gt countNotifications 0)}}
                                                {{#if (lt pageNumber 2)}} <li class="page-item disabled"><a
                                                    class="page-link" href="#" aria-label="Previous"><span
                                                        aria-hidden="true">«</span></a>
                                                </li>
                                                {{else}}
                                                <li class="page-item"><a class="page-link"
                                                        href="/notifications/page/{{previousPage}}"
                                                        aria-label="Previous"><span aria-hidden="true">«</span></a>
                                                </li>
                                                {{/if}}
                                                {{/if}}
                                                {{!-- ------------------------------- --}}

                                                {{!-- List page --}}
                                                {{#each countNotificationsPage}}

                                                {{#if (eq this @root.pageNumber)}}
                                                <li class="page-item active"><a class="page-link"
                                                        href="/notifications/page/{{this}}">{{this}}</a>
                                                </li>
                                                {{else}}
                                                <li class="page-item"><a class="page-link"
                                                        href="/notifications/page/{{this}}">{{this}}</a>
                                                </li>
                                                {{/if}}

                                                {{/each}}
                                                {{!-- ------------------------------- --}}

                                                {{!-- Nếu page = tổng số page thì ẩn nút next --}}
                                                {{#if (eq pageNumber totalNotificationsPage)}}
                                                <li class="page-item disabled"><a class="page-link" href="#"
                                                        aria-label="Previous"><span aria-hidden="true">»</span></a>
                                                </li>
                                                {{else}}
                                                {{#if (gt countNotifications 0)}}
                                                <li class="page-item">
                                                    <a class="page-link" href="/notifications/page/{{nextPage}}"
                                                        aria-label="Previous">
                                                        <span aria-hidden="true">»</span>
                                                    </a>
                                                </li>
                                                {{/if}}
                                                {{/if}}
                                                {{!-- ------------------------------- --}}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Poly Dating 2021</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="/public/js/theme.js"></script>
</body>

<script>
    function checkSubmit() {
        let form = document.getElementById('id-form7');

        let btnSearch = document.getElementById('btnSearch');
        let searchIp = document.getElementById('searchIp');

        searchIp.value = btnSearch.value;

        if (btnSearch.value == "") {
            searchIp.name = "";
        }

        form.submit();
    }
</script>