<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                    href="/statistical?format=0&timeStamp={{timeStamp}}">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <img src="/public/img/bee.png" alt="">
                    </div>
                    <div class="sidebar-brand-text mx-3"><span>POLY DATING</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/statistical?format=0&timeStamp={{timeStamp}}"><i
                                class="fas fa-tachometer-alt"></i><span>Thống kê</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="/users">
                            <i class="fas fa-user"></i>
                            <span>Người dùng</span></a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reports">
                            <i class="fas fa-flag"></i>
                            <span>Báo cáo</span>
                            {{#if (gt reportsWait 0)}}
                            <span class="text-warning"> {{reportsWait}} lượt</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/notifications"><i
                                class="fas fa-bell"></i><span>Thông báo</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout"><i
                                class="fas fa-sign-out-alt"></i><span>Đăng
                                xuất</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <div class="d-sm-inline-block me-auto md-3 my-2 my-md-0 mw-100 navbar-search">
                            <h4 class="text-dark mb-0">Thông tin người dùng {{user.name}}</h4>
                        </div>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" href="/users/{{currentUserWeb.email}}">
                                        <span class="d-none d-lg-inline me-2 text-gray-600 small">
                                            {{currentUserWeb.name}}
                                        </span>
                                        {{#each currentUserWeb.images}}
                                        <img class="border rounded-circle img-profile" src="{{this}}">
                                        {{/each}}
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    {{#if (eq user.role "Quản trị viên")}}
                                    <p class="text-primary m-0 fw-bold">Hồ sơ quản trị viên</p>
                                    {{else}}
                                    <p class="text-primary m-0 fw-bold">Hồ sơ người dùng</p>
                                    {{/if}}
                                </div>

                                <div class="card-body">
                                    <div class="col text-center">
                                        <img class="rounded-circle mb-3 mt-2" src="{{user.images.[0]}}" width="180"
                                            height="180">
                                        <p class="text-black fw-bold h4">{{user.name}}</p>
                                    </div>

                                    {{#if (eq user.role "Người dùng")}}
                                    <p><span class="text-black">Giới thiệu: </span>{{user.description}}</p>
                                    <hr>

                                    <div class="text-center">
                                        {{#each user.images}}
                                        <img class="rounded m-2" src="{{this}}" width="130" height="130">
                                        {{/each}}
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold col-md-6">Thông tin chi tiết</p>
                                        </div>

                                        <div class="card-body">
                                            <div class="col">
                                                <p><span class="text-black">Email: </span>{{user.email}}</p>
                                                <p><span class="text-black">Họ tên: </span>{{user.name}}</p>
                                                <p><span class="text-black">Giới tính: </span>{{user.gender}}</p>
                                                <p><span class="text-black">Ngày sinh: </span>{{user.birthDay}}</p>

                                                {{#if (eq user.role "Quản trị viên")}}
                                                <p><span class="text-black">Số điện thoại: </span>{{user.phone}}</p>
                                                {{/if}}

                                                {{#if (eq user.role "Người dùng")}}
                                                <p><span class="text-black">Sở thích: </span>{{user.hobbies}}</p>
                                                <p><span class="text-black">Cơ sở: </span>{{user.facilities}}</p>
                                                <p><span class="text-black">Chuyên ngành: </span>{{user.specialized}}
                                                </p>
                                                <p><span class="text-black">Khóa học: </span>{{user.course}}</p>
                                                <p><span class="text-black">Hiển thị với: </span>{{user.isShow}}</p>
                                                <p>
                                                    <span class="text-black">Tìm kiếm sở thích: </span>
                                                    {{#if (eq user.statusHobby false)}}
                                                    <span>Tắt</span>

                                                    {{else}}
                                                    <span>Bật</span>
                                                    {{/if}}
                                                </p>
                                                <p><span class="text-black">Bạn bè: </span>{{countFriends}} bạn</p>
                                                <p>
                                                    <span class="text-black">Báo cáo: </span>
                                                    {{#if (eq user.reportNumber 3)}}
                                                    <span class="text-warning">{{user.reportNumber}} lượt</span>

                                                    {{else}}
                                                    {{#if (lt user.reportNumber 3)}}
                                                    <span class="text-success">{{user.reportNumber}} lượt</span>

                                                    {{else}}
                                                    <span class="text-danger">{{user.reportNumber}} lượt</span>

                                                    {{/if}}
                                                    {{/if}}
                                                </p>
                                                {{/if}}

                                                <p>
                                                    <span class="text-black">Vai trò: </span>
                                                    {{#if (eq user.role "Quản trị viên")}}
                                                    <span>{{user.role}}</span>
                                                    {{else}}
                                                    <span>{{user.role}}</span>
                                                    {{/if}}
                                                </p>

                                                <p>
                                                    <span class="text-black">Trạng thái: </span>
                                                    {{#if (eq user.isActive "Kích hoạt")}}
                                                    <span class="text-success">{{user.isActive}}</span>
                                                    {{else}}
                                                    <span class="text-danger">{{user.isActive}}</span>
                                                    {{/if}}
                                                </p>

                                                <p>
                                                    <span class="text-black">Ngày tạo: </span>{{#newDate
                                                    user.createdAt}}{{/newDate}}
                                                </p>
                                                <p>
                                                    <span class="text-black">Ngày cập nhật: </span>{{#newDate
                                                    user.updatedAt}}{{/newDate}}
                                                </p>
                                                <hr>

                                                {{#if (eq user.role "Quản trị viên")}}
                                                {{#if (eq user.email currentUserWeb.email)}}
                                                <div class="d-md-flex mb-2">
                                                    <form action="#" class="text-end col-md-6">
                                                        <button class="btn btn-success" type="button"
                                                            data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                            style="width: 97%;">
                                                            <span class="text-white">Sửa thông tin</span>
                                                        </button>
                                                    </form>

                                                    <form action="#" class="text-end col-md-6">
                                                        <button class="btn btn-info" type="button"
                                                            data-bs-toggle="modal" data-bs-target="#exampleModal2"
                                                            style="width: 97%;">
                                                            <span class="text-white">Đổi mật khẩu</span>
                                                        </button>
                                                    </form>
                                                </div>

                                                <!-- Modal Information -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                                    data-bs-backdrop="static" data-bs-keyboard="false"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title text-danger">Sửa thông tin
                                                                    {{user.name}}
                                                                </h5>
                                                            </div>
                                                            <!-- form -->
                                                            <form action="/users/update-information" method="post"
                                                                enctype="multipart/form-data">
                                                                <div class="modal-body row g-3">
                                                                    <div class="col-md-6">
                                                                        <label class="form-label">Email</label>
                                                                        <input type="text" disabled class="form-control"
                                                                            value="{{user.email}}">
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label class="form-label">Họ tên</label>
                                                                        <input type="text" value="{{user.name}}"
                                                                            class="form-control" minlength="5" maxlength="25">
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label class="form-label">Số điện thoại</label>
                                                                        <input type="tel" name="phone" maxlength="12"
                                                                            minlength="8" value="{{user.phone}}"
                                                                            class="form-control" required>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label class="form-label">Ngày sinh</label>
                                                                        <input type="date" name="birthDay"
                                                                            value="{{user.birthDay}}"
                                                                            class="form-control" required>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label class="form-label">Giới tính</label>
                                                                        <select name="gender" class="form-select"
                                                                            required>

                                                                            {{#if (eq user.gender "Nam")}}
                                                                            <option value="Nam" selected>Nam</option>
                                                                            <option value="Nữ">Nữ</option>
                                                                            {{else}}
                                                                            <option value="Nam">Nam</option>
                                                                            <option value="Nữ" selected>Nữ</option>
                                                                            {{/if}}

                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label class="form-label">Hình ảnh</label>
                                                                        <input type="file" name="images"
                                                                            accept="image/jpeg, image/jpg"
                                                                            class="form-control">
                                                                    </div>
                                                                    <input type="hidden" name="_id"
                                                                        value="{{user._id}}">
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit"
                                                                        class="btn btn-primary">Gửi</button>
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Hủy</button>
                                                                </div>
                                                            </form>
                                                            <!-- end form -->
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Modal Password -->
                                                <div class="modal fade" id="exampleModal2" tabindex="-1"
                                                    data-bs-backdrop="static" data-bs-keyboard="false"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title text-danger">Đổi mật khẩu </h5>
                                                            </div>
                                                            <!-- form -->
                                                            <form action="/users/update-password" method="post">
                                                                <div class="modal-body row g-3">
                                                                    <div class="col-md-12">
                                                                        <label class="form-label">Mật khẩu cũ</label>
                                                                        <input type="password" name="passOld"
                                                                            minlength="6" class="form-control" required>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <label class="form-label">Mật khẩu mới</label>
                                                                        <input type="password" name="passNew"
                                                                            minlength="6" class="form-control" required>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <label class="form-label">Nhập lại mật
                                                                            khẩu mới</label>
                                                                        <input type="password" name="passNew2"
                                                                            minlength="6" class="form-control" required>
                                                                    </div>

                                                                    <input type="hidden" name="_id"
                                                                        value="{{user._id}}">
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit"
                                                                        class="btn btn-primary">Gửi</button>
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Hủy</button>
                                                                </div>
                                                            </form>
                                                            <!-- end form -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- -------------------- -->
                                                {{/if}}
                                                {{/if}}

                                                <div class="d-md-flex">
                                                    {{#if (eq user.role "Người dùng")}}
                                                    {{#if (eq user.isActive "Kích hoạt")}}
                                                    <form action="/users/block" method="post" class="text-end col-md-6">

                                                        <input type="hidden" name="_id" value="{{user._id}}">
                                                        <input type="hidden" name="checkAction" value="2">

                                                        <button class="btn btn-danger" type="submit"
                                                            style="width: 97%;">
                                                            <span class="text-white">Khóa</span>
                                                        </button>
                                                    </form>

                                                    {{else}}
                                                    <form action="/users/unblock" method="post"
                                                        class="text-end col-md-6">

                                                        <input type="hidden" name="_id" value="{{user._id}}">
                                                        <input type="hidden" name="checkAction" value="2">

                                                        <button class="btn btn-success" type="submit"
                                                            style="width: 97%;">
                                                            <span class="text-white">Kích hoạt</span>
                                                        </button>
                                                    </form>
                                                    {{/if}}

                                                    <form action="/users/delete" method="post"
                                                        class="text-end col-md-6">

                                                        <input type="hidden" name="_id" value="{{user._id}}">

                                                        <button class="btn btn-warning" type="submit"
                                                            style="width: 97%;">
                                                            <span class="text-white">Xóa tài khoản</span>
                                                        </button>
                                                    </form>
                                                    {{/if}}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Poly Dating 2021</span></div>
                </div>
            </footer>
        </div> <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="/public/js/theme.js"></script>
</body>