<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                    href="/statistical">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <img src="/public/img/bee.png" alt="">
                    </div>
                    <div class="sidebar-brand-text mx-3"><span>POLY DATING</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/statistical"><i
                                class="fas fa-tachometer-alt"></i><span>Thống kê</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="/users/page/1"><i
                                class="fas fa-user"></i><span>Người
                                dùng</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/reports"><i class="fas fa-flag"></i><span>Báo
                                cáo</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/notifications"><i
                                class="fas fa-bell"></i><span>Thông báo</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-sign-out-alt"></i><span>Đăng
                                xuất</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <div class="d-sm-inline-block me-auto md-3 my-2 my-md-0 mw-100 navbar-search">
                            <h4 class="text-dark mb-0">Thông tin người dùng {{user.name}}</h4>
                        </div>
                    </div>
                </nav>

                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 fw-bold">Hồ sơ</p>
                                </div>

                                <div class="card-body">
                                    <div class="col text-center">
                                        <img class="rounded-circle mb-3 mt-2" src="{{user.images.[0]}}" width="180"
                                            height="180">
                                        <p class="text-black fw-bold h4">{{user.name}}</p>
                                    </div>

                                    <p><span class="text-black">Giới thiệu: </span>{{user.description}}</p>
                                    <hr>

                                    <div class="text-center">
                                        {{#each user.images}}
                                        <img class="rounded m-2" src="{{this}}" width="130" height="130">
                                        {{/each}}
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Thông tin chi tiết</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="col">
                                                <p><span class="text-black">Id: </span>{{user._id}}</p>
                                                <p><span class="text-black">Email: </span>{{user.email}}</p>
                                                <p><span class="text-black">Họ tên: </span>{{user.name}}</p>
                                                <p><span class="text-black">Giới tính: </span>{{user.gender}}</p>
                                                <p><span class="text-black">Ngày sinh: </span>{{user.birthDay}}</p>
                                                <p><span class="text-black">Sở thích: </span>{{user.hobbies}}</p>
                                                <p><span class="text-black">Cơ sở: </span>{{user.facilities}}</p>
                                                <p><span class="text-black">Chuyên ngành: </span>{{user.specialized}}
                                                </p>
                                                <p><span class="text-black">Khóa học: </span>{{user.course}}</p>
                                                <p><span class="text-black">Hiển thị với: </span>{{user.isShow}}</p>

                                                <p>
                                                    <span class="text-black">Báo cáo: </span>
                                                    {{#if (lt user.reportNumber 3)}}
                                                    <span class="text-success">{{user.reportNumber}} lượt</span>
                                                    {{else}}
                                                    <span class="text-danger">{{user.reportNumber}} lượt</span>
                                                    {{/if}}
                                                </p>

                                                <p>
                                                    <span class="text-black">Hoạt động (Active): </span>
                                                    {{#if (eq user.isActive true)}}
                                                    <span class="text-success">Kích hoạt</span>
                                                    {{else}}
                                                    <span class="text-danger">Chặn</span>
                                                    {{/if}}
                                                </p>

                                                <p><span class="text-black">Ngày tạo: </span>{{user.createdAt}}</p>
                                                <p><span class="text-black">Ngày cập nhật: </span>{{user.updatedAt}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{!-- Báo cáo --}}
                        <div class="col-lg-12">
                            <div class="card shadow">
                                <div class="card-header py-3">
                                    <div class="row">
                                        <p class="text-primary m-0 fw-bold col-md-6">Báo cáo</p>

                                        {{#if (eq user.isActive true)}}
                                        <form action="/users/block" method="post" id="form-block"
                                            class="text-end col-md-6 ">

                                            <input type="hidden" value="{{user._id}}" name="_id">

                                            <a href="#" class="text-danger m-0 fw-bold" style="text-decoration: none;"
                                                onclick="document.getElementById('form-block').submit()">Chặn</a>
                                        </form>

                                        {{else}}
                                        <form action="/users/unblock" method="post" id="form-block"
                                            class="text-end col-md-6 ">

                                            <input type="hidden" value="{{user._id}}" name="_id">

                                            <a href="#" class="text-success m-0 fw-bold" style="text-decoration: none;"
                                                onclick="document.getElementById('form-block').submit()">Kích hoạt</a>
                                        </form>
                                        {{/if}}

                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-auto">
                                            <div class="text-md-end dataTables_filter" id="dataTable_filter">
                                                <label class="form-label">
                                                    <input type="search" class="form-control form-control-sm"
                                                        aria-controls="dataTable" placeholder="Tìm kiếm...">
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- ----------------------------------- -->
                                    <div class="table-responsive table mt-2" role="grid"
                                        aria-describedby="dataTable_info">
                                        <table class="table table-hover my-0">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Tiêu đề</th>
                                                    <th>Nội dung</th>
                                                    <th>Hình ảnh</th>
                                                    <th>Người tố cáo</th>
                                                    <th>Thời gian</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Báo cáo</td>
                                                    <td>Ăn a ăn e Ăn a ăn e Ăn a ăn e Ăn a ăn e</td>
                                                    <td><img class="rounded-circle me-2" width="30" height="30"
                                                            src="https://f43-zpg.zdn.vn/2575592389455815324/e11f1916619f97c1ce8e.jpg">
                                                    </td>
                                                    <td>Thắng Rách</td>
                                                    <td>20/09/2021</td>
                                                    <td>
                                                        <button class="btn btn-success"><i
                                                                class="fas fa-check"></i></button>
                                                        <button class="btn btn-danger"><i
                                                                class="fas fa-times"></i></i></button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>2</td>
                                                    <td>Báo cáo</td>
                                                    <td>Ăn a ăn e Ăn a ăn e Ăn a ăn e Ăn a ăn e</td>
                                                    <td><img class="rounded-circle me-2" width="30" height="30"
                                                            src="https://f43-zpg.zdn.vn/2575592389455815324/e11f1916619f97c1ce8e.jpg">
                                                    </td>
                                                    <td>Thắng Rách</td>
                                                    <td>20/09/2021</td>
                                                    <td>
                                                        <button class="btn btn-success"><i
                                                                class="fas fa-check"></i></button>
                                                        <button class="btn btn-danger"><i
                                                                class="fas fa-times"></i></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 align-self-center">
                                            <p id="dataTable_info" class="dataTables_info" role="status"
                                                aria-live="polite">
                                                Hiển thị 1 đến 10 của 21</p>
                                        </div>
                                        <div class="col-md-6">
                                            <nav
                                                class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                                <ul class="pagination">
                                                    <li class="page-item disabled"><a class="page-link" href="#"
                                                            aria-label="Previous"><span aria-hidden="true">«</span></a>
                                                    </li>
                                                    <li class="page-item active"><a class="page-link" href="#">1</a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="#"
                                                            aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
                </div>
            </footer>
        </div> <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="/public/js/theme.js"></script>
</body>