<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                    href="/statistical">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <img src="/public/img/bee.png" alt="">
                    </div>
                    <div class="sidebar-brand-text mx-3"><span>POLY DATING</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/statistical?format=0&timeStamp={{timeStamp}}"><i
                                class="fas fa-tachometer-alt"></i><span>Thống kê</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/users"><i class="fas fa-user"></i><span>Người
                                dùng</span></a></li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/reports">
                            <i class="fas fa-flag"></i>
                            <span>Báo cáo</span>
                            {{#if (gt reportsWait 0)}}
                            <span class="text-warning"> {{reportsWait}} lượt</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/notifications"><i
                                class="fas fa-bell"></i><span>Thông
                                báo</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-sign-out-alt"></i><span>Đăng
                                xuất</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <div class="d-sm-inline-block me-auto md-3 my-2 my-md-0 mw-100 navbar-search">
                            <h4 class="text-dark mb-0">Báo cáo</h4>
                        </div>
                    </div>
                </nav>

                <div class="container-fluid">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold col-md-6">Lịch sử báo cáo</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-auto">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">
                                            <select class="d-inline-block form-select form-select-sm me-4"
                                                id="statusOp">
                                                {{#each statusReports}}

                                                {{#if (eq this "Trạng thái")}}
                                                <option value="">{{this}}</option>

                                                {{else}}
                                                {{#if (eq this @root.statusOp)}}
                                                <option value="{{@root.statusOp}}" selected="">
                                                    {{@root.statusOp}}
                                                </option>

                                                {{else}}
                                                <option value="{{this}}">{{this}}</option>

                                                {{/if}}
                                                {{/if}}

                                                {{/each}}
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-auto">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">
                                            <select class="d-inline-block form-select form-select-sm me-4" id="titleOp">
                                                {{#each dataTitleReports}}

                                                {{#if (eq this "Tiêu đề")}}
                                                <option value="">{{this}}</option>

                                                {{else}}
                                                {{#if (eq this @root.titleOp)}}
                                                <option value="{{@root.titleOp}}" selected="">
                                                    {{@root.titleOp}}
                                                </option>

                                                {{else}}
                                                <option value="{{this}}">{{this}}</option>

                                                {{/if}}
                                                {{/if}}

                                                {{/each}}
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-auto">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">
                                            <input type="search" class="form-control form-control-sm" id="btnSearch"
                                                aria-controls="dataTable" placeholder="Tìm kiếm..." value="{{search}}">
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-auto">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">
                                            <form action="/reports" method="get" id="id-form6">
                                                <input type="hidden" id="statusIp" name="statusOp">
                                                <input type="hidden" id="titleIp" name="titleOp">
                                                <input type="hidden" id="searchIp" name="search">

                                                <input type="submit" class="form-control form-control-sm btn-primary"
                                                    onclick="checkSubmit()" aria-controls="dataTable" value="Tìm kiếm">
                                            </form>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- ----------------------------------- -->
                            <div class="table-responsive mt-2" role="grid" aria-describedby="dataTable_info">
                                <table class="table table-hover my-0">
                                    <thead>
                                        <tr>
                                            <th nowrap>STT</th>
                                            <th nowrap>Tiêu đề</th>
                                            <th nowrap>Nội dung</th>
                                            <th nowrap>Hình ảnh</th>
                                            <th nowrap>Người báo cáo</th>
                                            <th nowrap>Người bị báo cáo</th>
                                            <th nowrap>Thời gian gửi</th>
                                            <th nowrap>Trạng thái</th>
                                            <th nowrap>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each reports}}
                                        <tr>
                                            <td>{{@index}}</td>
                                            <td class="text-nowrap">{{this.title}}</td>
                                            <td style="max-width: 500px;">{{this.content}}</td>
                                            <td class="text-nowrap">
                                                <a style="text-decoration: none;" class="text-primary"
                                                    href="{{this.images}}">Xem hình ảnh</a>
                                            </td>
                                            <td>
                                                <a style="text-decoration: none;" class="text-info"
                                                    href="/users/{{this.emailSender}}">{{this.emailSender}}</a>
                                            </td>
                                            <td>
                                                <a style="text-decoration: none;" class="text-info"
                                                    href="/users/{{this.emailReceiver}}">{{this.emailReceiver}}</a>
                                            </td>
                                            <td class="text-nowrap">{{#newDate this.createdAt}}{{/newDate}}</td>

                                            <td class="text-nowrap">
                                                {{#if (eq this.status "Chấp thuận")}}
                                                <span class="text-success">{{this.status}}</span>

                                                {{else}}
                                                {{#if (eq this.status "Từ chối")}}
                                                <span class="text-danger">{{this.status}}</span>

                                                {{else}}
                                                <span class="text-warning">{{this.status}}</span>

                                                {{/if}}
                                                {{/if}}
                                            </td>
                                            <td>
                                                {{#if (eq this.status "Chờ duyệt")}}
                                                <div style="display: flex">
                                                    <form action="/reports/verify-report-request" method="post"
                                                        class="text-end col-md-6" id="form-block2"
                                                        style="margin-right: 5px;">

                                                        <input type="hidden" value="{{this.emailReceiver}}"
                                                            name="email">
                                                        <input type="hidden" value="{{this._id}}" name="_idReport">
                                                        <input type="hidden" value="true" name="action">

                                                        <button class="btn btn-success" type="submit">
                                                            <i class="fas fa-check text-white"></i>
                                                        </button>
                                                    </form>

                                                    <form action="/reports/verify-report-request" method="post"
                                                        class="text-end col-md-6" id="form-block2">

                                                        <input type="hidden" value="{{this.emailReceiver}}"
                                                            name="email">
                                                        <input type="hidden" value="{{this._id}}" name="_idReport">
                                                        <input type="hidden" value="false" name="action">

                                                        <button class="btn btn-danger" type="submit">
                                                            <i class="fas fa-times"></i></i>
                                                        </button>
                                                    </form>
                                                </div>
                                                {{else}}
                                                <div style="display: flex;">
                                                    <button class="btn btn-success" disabled=""
                                                        style="margin-right: 5px;">
                                                        <i class="fas fa-check text-white"></i>
                                                    </button>

                                                    <button class="btn btn-danger" disabled="">
                                                        <i class="fas fa-times"></i></i>
                                                    </button>
                                                </div>
                                                {{/if}}
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                                        Hiển thị {{countFrom}} đến {{countTo}} trong tổng {{countReports}}</p>
                                </div>

                                <div class="col-md-6">
                                    <nav
                                        class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">

                                            {{!-- Nếu page < 2 thì ẩn nút pre --}} {{#if ( gt countReports 0)}} {{#if
                                                (lt pageNumber 2)}} <li class="page-item disabled"><a class="page-link"
                                                    href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
                                                </li>
                                                {{else}}
                                                <li class="page-item"><a class="page-link"
                                                        href="/reports/page/{{previousPage}}"
                                                        aria-label="Previous"><span aria-hidden="true">«</span></a>
                                                </li>
                                                {{/if}}
                                                {{/if}}

                                                {{!-- ------------------------------- --}}

                                                {{!-- List page --}}
                                                {{#each countReportsPage}}

                                                {{#if (eq this @root.pageNumber)}}
                                                <li class="page-item active"><a class="page-link"
                                                        href="/reports/page/{{this}}">{{this}}</a>
                                                </li>
                                                {{else}}
                                                <li class="page-item"><a class="page-link"
                                                        href="/reports/page/{{this}}">{{this}}</a>
                                                </li>
                                                {{/if}}

                                                {{/each}}
                                                {{!-- ------------------------------- --}}

                                                {{!-- Nếu page = tổng số page thì ẩn nút next --}}
                                                {{#if (eq pageNumber totalReportsPage)}}
                                                <li class="page-item disabled"><a class="page-link" href="#"
                                                        aria-label="Previous"><span aria-hidden="true">»</span></a>
                                                </li>
                                                {{else}}
                                                {{#if (gt countReports 0)}}
                                                <li class="page-item">
                                                    <a class="page-link" href="/reports/page/{{nextPage}}"
                                                        aria-label="Previous">
                                                        <span aria-hidden="true">»</span>
                                                    </a>
                                                </li>
                                                {{/if}}
                                                {{/if}}
                                                {{!-- ------------------------------- --}}
                                        </ul>
                                    </nav>
                                </div>

                            </div>
                            <!-- ----------------------------------- -->
                        </div>

                    </div>
                </div>

            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Poly Dating 2021</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="/public/js/theme.js"></script>
</body>

<script>
    function checkSubmit() {
        let form = document.getElementById('id-form6');

        let statusOp = document.getElementById('statusOp');
        let titleOp = document.getElementById('titleOp');
        let btnSearch = document.getElementById('btnSearch');

        let statusIp = document.getElementById('statusIp');
        let titleIp = document.getElementById('titleIp');
        let searchIp = document.getElementById('searchIp');

        statusIp.value = statusOp.value;
        titleIp.value = titleOp.value;
        searchIp.value = btnSearch.value;

        form.submit();
    }
</script>