<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                    href="/statistical">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <img src="/public/img/bee.png" alt="">
                    </div>
                    <div class="sidebar-brand-text mx-3"><span>POLY DATING</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/statistical?format=0&timeStamp={{timeStamp}}"><i
                                class="fas fa-tachometer-alt"></i><span>Thống kê</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/users"><i class="fas fa-user"></i><span>Người
                                dùng</span></a></li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/reports/page/1">
                            <i class="fas fa-flag"></i>
                            <span>Báo cáo</span>
                            {{#if (gt reportsWait 0)}}
                            <span class="text-warning"> {{reportsWait}} lượt</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/notifications"><i
                                class="fas fa-bell"></i><span>Thông
                                báo</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-sign-out-alt"></i><span>Đăng
                                xuất</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <div class="d-sm-inline-block me-auto md-3 my-2 my-md-0 mw-100 navbar-search">
                            <h4 class="text-dark mb-0">Báo cáo</h4>
                        </div>
                    </div>
                </nav>

                <div class="container-fluid">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold col-md-6">Lịch sử báo cáo</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-auto">
                                    <div class="text-md-end dataTables_filter" id="dataTable_filter">
                                        <label class="form-label">

                                            <form action="/reports/page/1" method="get" style="display: flex;">

                                                <select class="d-inline-block form-select form-select-sm me-4"
                                                    name="status" style="width: auto;">
                                                    {{#each statusReports}}

                                                    {{#if (eq this "Trạng thái")}}
                                                    <option value="">{{this}}</option>

                                                    {{else}}
                                                    {{#if (eq this @root.status)}}
                                                    <option value="{{@root.status}}" selected="">{{@root.status}}
                                                    </option>

                                                    {{else}}
                                                    <option value="{{this}}">{{this}}</option>

                                                    {{/if}}
                                                    {{/if}}

                                                    {{/each}}
                                                </select>

                                                <select class="d-inline-block form-select form-select-sm me-4"
                                                    name="title" style="width: auto;">
                                                    {{#each dataTitleReports}}

                                                    {{#if (eq this "Tiêu đề")}}
                                                    <option value="">{{this}}</option>

                                                    {{else}}
                                                    {{#if (eq this @root.title)}}
                                                    <option value="{{@root.title}}" selected="">{{@root.title}}
                                                    </option>

                                                    {{else}}
                                                    <option value="{{this}}">{{this}}</option>

                                                    {{/if}}
                                                    {{/if}}

                                                    {{/each}}
                                                </select>

                                                <input type="search" class="form-control form-control-sm me-4"
                                                    style="width: auto;" aria-controls="dataTable" name="search"
                                                    placeholder="Tìm kiếm...">

                                                <input type="submit" id="btn-search"
                                                    class="form-control form-control-sm btn-primary"
                                                    aria-controls="dataTable" value="Tìm kiếm">
                                            </form>

                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- ----------------------------------- -->
                            <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                                <table class="table table-hover my-0">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tiêu đề</th>
                                            <th>Nội dung</th>
                                            <th>Hình ảnh</th>
                                            <th>Người báo cáo</th>
                                            <th>Người bị báo cáo</th>
                                            <th>Thời gian gửi</th>
                                            <th>Trạng thái</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each reports}}
                                        <tr>
                                            <td>{{@index}}</td>
                                            <td>{{this.title}}</td>
                                            <td>{{this.content}}</td>
                                            <td>
                                                <a style="text-decoration: none;" class="text-primary"
                                                    href="{{this.images}}">Xem hình ảnh</a>
                                            </td>
                                            <td>
                                                <a style="text-decoration: none;" class="text-info"
                                                    href="/users/{{this.emailSender}}">{{this.emailSender}}</a>
                                            </td>
                                            <td>
                                                <a style="text-decoration: none;" class="text-info"
                                                    href="/users/{{this.emailReceiver}}">{{this.emailReceiver}}</a>
                                            </td>
                                            <td>{{this.createdAt}}</td>

                                            <td>
                                                {{#if (eq this.status "Chấp thuận")}}
                                                <span class="text-success">{{this.status}}</span>

                                                {{else}}
                                                {{#if (eq this.status "Từ chối")}}
                                                <span class="text-danger">{{this.status}}</span>

                                                {{else}}
                                                <span class="text-warning">{{this.status}}</span>

                                                {{/if}}
                                                {{/if}}
                                            </td>
                                            <td>
                                                {{#if (eq this.status "Chờ duyệt")}}
                                                <form action="/reports/verify-report-request" method="post"
                                                    class="text-end col-md-6" style="display: flex" id="form-block">

                                                    <input type="hidden" value="{{this.emailReceiver}}" name="email">
                                                    <input type="hidden" value="{{this._id}}" name="_idReport">

                                                    <button class="btn btn-success" type="submit" name="action"
                                                        style="margin-right: 5px;" value="true"><i
                                                            class="fas fa-check text-white"></i></button>

                                                    <button class="btn btn-danger" type="submit" name="action"
                                                        value="false"><i class="fas fa-times"></i></i></button>
                                                </form>

                                                {{else}}
                                                <div style="display: flex;">
                                                    <button class="btn btn-success" disabled=""
                                                        style="margin-right: 5px;">
                                                        <i class="fas fa-check"></i>
                                                    </button>

                                                    <button class="btn btn-danger" disabled="">
                                                        <i class="fas fa-times"></i></i>
                                                    </button>
                                                </div>
                                                {{/if}}
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>

                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                                        Hiển thị {{countFrom}} đến {{countTo}} trong tổng {{countReports}}</p>
                                </div>

                                <div class="col-md-6">
                                    <nav
                                        class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">

                                            {{!-- Nếu page < 2 thì ẩn nút pre --}} {{#if ( gt countReports 0)}} {{#if
                                                (lt pageNumber 2)}} <li class="page-item disabled"><a class="page-link"
                                                    href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
                                                </li>
                                                {{else}}
                                                <li class="page-item"><a class="page-link"
                                                        href="/reports/page/{{previousPage}}"
                                                        aria-label="Previous"><span aria-hidden="true">«</span></a>
                                                </li>
                                                {{/if}}
                                                {{/if}}
                                                {{!-- ------------------------------- --}}

                                                {{!-- List page --}}
                                                {{#each countReportsPage}}

                                                {{#if (eq this @root.pageNumber)}}
                                                <li class="page-item active"><a class="page-link"
                                                        href="/reports/page/{{this}}">{{this}}</a>
                                                </li>
                                                {{else}}
                                                <li class="page-item"><a class="page-link"
                                                        href="/reports/page/{{this}}">{{this}}</a>
                                                </li>
                                                {{/if}}

                                                {{/each}}
                                                {{!-- ------------------------------- --}}

                                                {{!-- Nếu page = tổng số page thì ẩn nút next --}}
                                                {{#if (eq pageNumber totalReportsPage)}}
                                                <li class="page-item disabled"><a class="page-link" href="#"
                                                        aria-label="Previous"><span aria-hidden="true">»</span></a>
                                                </li>
                                                {{else}}
                                                {{#if (gt countReports 0)}}
                                                <li class="page-item">
                                                    <a class="page-link" href="/reports/page/{{nextPage}}"
                                                        aria-label="Previous">
                                                        <span aria-hidden="true">»</span>
                                                    </a>
                                                </li>
                                                {{/if}}
                                                {{/if}}
                                                {{!-- ------------------------------- --}}
                                        </ul>
                                    </nav>
                                </div>

                            </div>
                            <!-- ----------------------------------- -->
                        </div>

                    </div>
                </div>

            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Poly Dating 2021</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="/public/js/theme.js"></script>
</body>