<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                    href="/statistical">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <img src="/public/img/bee.png" alt="">
                    </div>
                    <div class="sidebar-brand-text mx-3"><span>POLY DATING</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active"
                            href="/statistical?format=0&timeStamp={{timeStamp}}"><i
                                class="fas fa-tachometer-alt"></i><span>Thống kê</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/users"><i class="fas fa-user"></i></i><span>Người
                                dùng</span></a></li>
                    <li class="nav-item">
                        <a class="nav-link " href="/reports">
                            <i class="fas fa-flag"></i>
                            <span>Báo cáo</span>
                            {{#if (gt reportsWait 0)}}
                            <span class="text-warning"> {{reportsWait}} lượt</span>
                            {{/if}}
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/notifications"><i
                                class="fas fa-bell"></i><span>Thông
                                báo</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-sign-out-alt"></i><span>Đăng
                                xuất</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>

        <input type="hidden" id='titleChart' value='{{title}}' />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <div class="d-sm-inline-block me-auto md-3 my-2 my-md-0 mw-100 navbar-search">
                            <h4 class="text-dark mb-0">Thống kê</h4>
                        </div>
                    </div>
                </nav>

                <div class="container-fluid">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Thống kê chi tiết</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-auto">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">
                                            <select class="d-inline-block form-select form-select-sm" id="facilitiesOp">
                                                {{#each facilities}}

                                                {{#if (eq this 'Lựa chọn cơ sở')}}
                                                <option value="">{{this}} </option>

                                                {{else}}
                                                {{#if (eq this @root.facilitiesOp)}}
                                                <option value="{{@root.facilitiesOp}}" selected="">
                                                    {{@root.facilitiesOp}}
                                                </option>

                                                {{else}}
                                                <option value="{{this}}">{{this}}</option>

                                                {{/if}}
                                                {{/if}}

                                                {{/each}}
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-auto">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">
                                            <select class="d-inline-block form-select form-select-sm"
                                                id="specializedOp">
                                                {{#each specialized}}

                                                {{#if (eq this 'Lựa chọn ngành học')}}
                                                <option value="">{{this}}</option>

                                                {{else}}
                                                {{#if (eq this @root.specializedOp)}}
                                                <option value="{{@root.specializedOp}}" selected="">
                                                    {{@root.specializedOp}}
                                                </option>

                                                {{else}}
                                                <option value="{{this}}">{{this}}</option>

                                                {{/if}}
                                                {{/if}}

                                                {{/each}}
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-auto">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">
                                            <select class="d-inline-block form-select form-select-sm" id="courseOp">
                                                {{#each course}}

                                                {{#if (eq this 'Lựa chọn khóa học')}}
                                                <option value="">{{this}}</option>

                                                {{else}}
                                                {{#if (eq this @root.courseOp)}}
                                                <option value="{{@root.courseOp}}" selected="">
                                                    {{@root.courseOp}}
                                                </option>

                                                {{else}}
                                                <option value="{{this}}">{{this}}</option>

                                                {{/if}}
                                                {{/if}}

                                                {{/each}}
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-auto">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">
                                            <select class="d-inline-block form-select form-select-sm">
                                                {{#each dataDate}}
                                                <option value="{{this}}">{{this}}</option>
                                                {{/each}}
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-auto">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">
                                            <form action="/statistical" method="get" id="id-form5">
                                                <input type="hidden" id="facilitiesIp" name="facilitiesOp">
                                                <input type="hidden" id="specializedIp" name="specializedOp">
                                                <input type="hidden" id="courseIp" name="courseOp">
                                                <input type="hidden" id="formatIp" name="format" />
                                                <input type="hidden" id="timeStampIp" name="timeStamp" />

                                                <input type="submit" class="form-control form-control-sm btn-primary"
                                                    onclick="checkSubmit(`0`,`{{timeStamp}}`)" aria-controls="dataTable"
                                                    value="Tìm kiếm">
                                            </form>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-auto">
                                    <div id="dataTable_length" aria-controls="dataTable">
                                        <label class="form-label">
                                            <a class="btn btn-primary btn-sm" href="/export-xlsx">
                                                <i class="fas fa-download fa-sm text-white-50"></i> Export
                                            </a>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-md-3 mb-2">
                                    <p class="fw-bold h5">Tổng người dùng: 50 {{totalUser}}</p>
                                </div>

                                <div class="col-md-3 mb-2">
                                    <p class="fw-bold h5">Sinh viên Nam: 50 {{totalUserMale}}</p>
                                </div>

                                <div class="col-md-3 mb-2">
                                    <p class="fw-bold h5">Sinh viên Nữ: 50 {{totalUserFemale}}</p>
                                </div>

                                <div class="col-md-3 mb-2">
                                    <p class="fw-bold h5">Số báo cáo: 50 {{totalReports}}</p>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="totalMatch" value="{{totalMatch}}" />
                        <input type="hidden" name="totalReport" value="{{totalReports}}" />
                        <input type="hidden" name="totalBlock" value="{{totalBlock}}" />
                        <input type="hidden" name="data" value="{{data}}" />

                        <div class="container" id="page-content" style="margin-bottom: 10px;">
                            <div class="row justify-content-center">
                                <div class="col-sm-10 col-md-10">
                                    <div class="card">
                                        <div class="card-header"></div>
                                        <div class="card-body">
                                            <div class="chartjs-size-monitor"
                                                style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                                <div class="chartjs-size-monitor-expand"
                                                    style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                    <div
                                                        style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                                                    </div>
                                                </div>
                                                <div class="chartjs-size-monitor-shrink"
                                                    style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0">
                                                    </div>
                                                </div>
                                            </div> <canvas id="chart-line" width="300" height="200"
                                                class="chartjs-render-monitor"
                                                style="display: block; width: 300; height: 200px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Poly Dating 2021</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <script src="/public/js/theme.js"></script>
    <script src="/public/js/form-users.js"></script>
    <script src="/public/js/statistical.js"></script>
</body>


<script>
    function checkSubmit(format, timeStamp) {
        let form = document.getElementById('id-form5');

        let facilitiesOp = document.getElementById('facilitiesOp');
        let specializedOp = document.getElementById('specializedOp');
        let courseOp = document.getElementById('courseOp');

        let facilitiesIp = document.getElementById('facilitiesIp');
        let specializedIp = document.getElementById('specializedIp');
        let courseIp = document.getElementById('courseIp');
        let formatIp = document.getElementById('formatIp');
        let timeStampIp = document.getElementById('timeStampIp');

        facilitiesIp.value = facilitiesOp.value;
        specializedIp.value = specializedOp.value;
        courseIp.value = courseOp.value;
        formatIp.value = format;
        timeStampIp.value = timeStamp;

        form.submit();
    }
</script>